/* Signup container styles, similar to the login container */
.signup-container {
    max-width: 500px; /* Slightly wider than the login container */
    margin: 2em auto;
    padding: 2em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Form and input styles */
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.signup-form label {
    text-align: left;
    margin-bottom: 0.5em;
}

.signup-form input, .signup-form select {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 1em); /* Adjust width to ensure consistent padding */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

/* Adjust the focus styles for inputs and select dropdown */
.signup-form input:focus, .signup-form select:focus {
    border-color: var(--primary-color); /* Highlight focus state */
    outline: none;
}

/* Emoji styles */
.emoji {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-bottom: 1em;
}

/* Signup button, similar to the login button style */
.btn-signup {
    background-color: #FF8989;
    color: white;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-signup:hover {
    background-color: #FCAEAE;
}

body {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Minimum height of viewport */
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .signup-container {
        margin: 1em;
        padding: 1em;
    }
}
